@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,700');
html,
body,
#root {
  height: 100%;
}

body {
  color: #000;
  background-color: #FFF;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}
